@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #0f172a,
    #020617 70%
  );
  color: #e5e7eb;
  font-family: 'Inter', system-ui, sans-serif;
}
